<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieAnalyzer</title>
</head>
<body>
    <section class ="intro">
        <h1>Welcome to MovieAnalyzer</h1>
        <br>
        <p>Movie Analyzer has the following endpoints available:</p>
        <br>
        <p>1. Finds the first movie from the list</p>
        <button class="button-4" onclick="window.location='/movieAnalyzer/getFirst';">First Movie</button>
        <br>
        <p>2. Finds a single random movie from the list, and displays the title</p>
        <button class="button-4" onclick="window.location='/movieAnalyzer/getRandom';">Random movies</button>
        <br>
        <p>3. Gets 10 random movies from a data-set, sorted in ascending order by popularity</p>
        <button class="button-4" onclick="window.location='/movieAnalyzer/getTenRandom';">Ten Random Movies</button>
        <br>
        <p>4. Prints how many of the movies from the data-set, that won an award.</p>
        <button class="button-4" onclick="window.location='/movieAnalyzer/howManyWonAnAward';">Awards</button>
    </section>

</body>
</html>
